.listItem{
    text-align: center;
    list-style: none;
    padding: 5px;
}

.listItem > a{
    color: azure;
    background-color: black;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 1ch;
}